{% extends 'base.html' %}

{% block title %}Legend of Zelda - Progress Tracker & Gaming Reference{% endblock %}

{% block content %}
{% if not error %}
<form action="/search/{{category}}">
<div class="input-group mb-3">
    <input type="text" name="q" class="form-control" placeholder="Search {{category.capitalize()}} List" aria-label="{{category.capitalize()}} List" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Go</button>
    </div>
  </div>
</form>

    {% if cat_data.data %}
    <h1>{{category.capitalize()}} List</h1>
    <!--Used the boostrap pagination example here -->
  <nav aria-label="Page navigation, go forward and back">
    <ul class="pagination justify-content-end">
    <!--Start if results number more than 19-->
  {% if cat_data.data | length > 19 %}
      <!--Start if search is present-->
      {% if search %}
      <li class="page-item">
        <a class="page-link" {% if page_num > 0 %}
          href="/search/{{category}}?q={{search}}&page={{page_num - 1}}"
          {% endif %}> Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/search/{{category}}?q={{search}}&page={{page_num + 1}}">Next</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" {% if page_num > 0 %}
          href="/games/{{category}}?page={{page_num - 1}}"
          {% endif %}> Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/games/{{category}}?page={{page_num + 1}}">Next</a>
      </li>
      {% endif %} 
      <!--End of if search present-->  
    {% else %}
    <li class="page-item">
      <a class="page-link" href="/games/{{category}}">End of Results. Back to main {{category.capitalize()}} page >></a>
    </li>
  </ul>
    {% endif %}
    <!--End of if results number more than 20 if block-->
  </nav>
    <div class="row">
    {% for c in cat_data.data %}
    <div class="card" style="width: 18rem;margin:1%;">
        <div class="card-body">
        <h5 class="card-title">{{c.name}}</h5>
        <hr>
        <a href="{{ url_for('show_item_details', category=category, item_id=c.id)}}" class="btn btn-primary">View Details</a>
        </div>
    </div>
    {% endfor %}
    
    {% else %}
    <h1>No results - Try a different search</h1>
    <a class="page-link" href="/games/{{category}}">End of Results. Back to main {{category.capitalize()}} page >></a>
    </div>
    {% endif %}
   
{% else %}
<p>{{error}}</p>
{% endif %}


{% endblock %}

{% block footer %}
{% if cat_data.data | length > 19 %}
<!--Used the boostrap pagination example here -->
<nav aria-label="Page navigation, go forward and back">
  <ul class="pagination justify-content-end">
    {% if search %}
    <li class="page-item">
      <a class="page-link" {% if page_num > 0 %}
        href="/search/{{category}}?q={{search}}&page={{page_num - 1}}"
        {% endif %}> Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/search/{{category}}?q={{search}}&page={{page_num + 1}}">Next</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" {% if page_num > 0 %}
        href="/games/{{category}}?page={{page_num - 1}}"
        {% endif %}> Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/games/{{category}}?page={{page_num + 1}}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}