{% extends 'base.html' %}

{% block title %}Legend of Zelda - Progress Tracker & Gaming Reference{% endblock %}

{% block content %}
{% if not error %}
<form action="/search/{{category}}">
<div class="input-group mb-3">
    <input type="text" name="q" class="form-control" placeholder="Search {{category.capitalize()}} List" aria-label="{{category.capitalize()}} List" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Go</button>
    </div>
  </div>
</form>

    {% if cat_data.data %}
    <h1>{{category.capitalize()}} List</h1>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link" {% if page_num > 0 %}
            href="/games/{{category}}?page={{page_num - 1}}"
            {% endif %}> Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/games/{{category}}?page={{page_num + 1}}">Next</a>
        </li>
      </ul>
    </nav>
    <div class="row">
    {% for c in cat_data.data %}
    <div class="card" style="width: 18rem;margin:1%">
        <img src="https://dummyimage.com/640x360/eee/aaa" class="card-img-top" alt="Artwork TBD">
        <div class="card-body">
        <h5 class="card-title">{{c.name}}</h5>
        <p class="card-text">{{c.description}}</p>
        <a href="{{ url_for('show_item_details', category=category, item_id=c.id)}}" class="btn btn-primary">View Details</a>
        </div>
    </div>
    {% endfor %}
    
    {% else %}
    <h1>No results - Try a different search</h1>
    </div>
    {% endif %}
   
{% else %}
<p>{{error}}</p>
{% endif %}


{% endblock %}

{% block footer %}
{% if cat_data.data %}
<nav aria-label="Page navigation, go forward and back">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" {% if page_num > 0 %}
        href="/games/{{category}}?page={{page_num - 1}}"
        {% endif %}> Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/games/{{category}}?page={{page_num + 1}}">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}