{% extends 'base.html' %}
{% block title %}Game Walkthrough{% endblock %}

{% block content %}

   
    {% if not error %}
    {% for i in guides %}
    <h2>{{playing.game_title}} Guides from YouTube</h2>
        <iframe id="ytplayer" type="text/html" width="640" height="360" src="{{YOUTUBE_EMBED_URL}}{{i.id.videoId}}"></iframe>
    <h6> {{i.snippet.title}} </h6>
        <form  action="/add-guide-to-journal/{{playing.id}}" method="POST">
        <input type="hidden" id="game_guide" name="game_guide" value="{{YOUTUBE_EMBED_URL}}{{i.id.videoId}}" />    
        <button class="btn btn-info">Add guide to Journal</button>
        </form>
        <hr>
    {% endfor %}
    {% else %}
    <p>{{error}}</p>
    <a href="/playing">Go to Playing Now List >></a>
    <br>
    <a href="/games">Go to Games List >></a>
    <hr>
    {% endif %}
{% endblock %}