{% extends 'base.html' %}
{% block title %}Guide to {{item_name}} {% endblock %}

{% block content %}
<div id="misc-guides">
    {% if not error %}
    <h2>Guides for {{item_name}} from YouTube</h2>
    {% for g in guides %}
        <iframe id="ytplayer" type="text/html" width="640" height="360" src="{{YOUTUBE_EMBED_URL}}{{g.id.videoId}}"></iframe>
    <h6>{{g.snippet.title}}</h6>
    {% if current_user.is_authenticated and current_user.playing %}
        
    <button class="btn btn-outline-info add-guide-toggle">Add this guide to a gaming journal    
    </button>
    <div class="mt-2">
    <form class="select-j-form" action="/add-guide-to-journal" method="POST" class="mt-4">
        <input type="hidden" name="game_guide" value="{{YOUTUBE_EMBED_URL}}{{g.id.videoId}}" />
        <div class="temp-hidden hide">
        <select name="playing_id" class="form-control guide-select">
        </select>
        <div>
            <small>Note: This action will replace any existing guide in the journal</small>
        </div>
    <button type="submit" class="btn btn-info">Add</button>
    </div>
    </form>
       
    {% endif %}
    <hr>
    {% endfor %}
    {% else %}
    </div>
    <p>{{error}}</p>
    <hr>
    {% endif %}
</div>
{% endblock %} 