{% extends 'base.html' %}
{% block title %}Game Details{% endblock %}

{% block content %}
    <small>Release{{game.released_date}}</small>
    <h2>{{game.name}}</h2>
    <p>{{game.description}}</p>

    {% if current_user.is_authenticated %}
    <form method="POST" action="/add-to-wishlist">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
    <button class="btn btn-link">Add to Play Wishlist</button>
    </form>

    <a href="#" class="btn btn-secondary">Find a Game Guide</a>
    
    <form method="POST" action="/add-to-playing-list">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-success">Add to playing list</button>
    </form>
    {% endif %}

{% endblock %}