{% extends 'base.html' %}
{% block title %}Game Details{% endblock %}

{% block content %}

  {% if not error %}
    <small>Release{{game.released_date}}</small>
    <h2>{{game.name}}</h2>
    <p>{{game.description}}</p>

    {% if current_user.is_authenticated %}
    <form method="POST" action="/add-to-wishlist">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
    <button class="btn btn-link">Add to Play Wishlist</button>
    </form>

    <form method="POST" action="/add-to-playing-list">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-success">Add to playing list</button>
    </form>
    <a href="{{url_for('find_game_theory', item_name=game.name)}}" class="btn btn-dark">Find a Game Theory Video About -  {{game.name}}</a>
    {% endif %}
    {% else %}
    <p>{{error}}</p>
    {% endif %}

{% endblock %}