{% extends 'base.html' %}
{% block title %}Game Details{% endblock %}

{% block content %}
    <small>Release{{game.released_date}}</small>
    <h2>{{game.name}}</h2>
    <p>{{game.description}}</p>

    {% if current_user.is_authenticated %}
    <form method="POST" action="/add-to-wishlist">
    <input type="hidden" id="game_id" name="game_id" value="{{game.id}}"> 
    <input type="hidden" id="game_title" name="game_title" value="{{game.name}}">
    <button class="btn btn-link">Add to Play Wishlist</button>
    </form>

    <a href="#" class="btn btn-secondary">Find a Game Guide</a>
    
    <form method="POST" action="/add-to-playing-list">
        <input type="hidden" id="game_id" name="game_id" value="{{game.id}}"> 
        <input type="hidden" id="game_title" name="game_title" value="{{game.name}}"> 
        <button class="btn btn-success">Add to playing list</button>
    </form>
    {% endif %}

{% endblock %}