{% extends 'base.html' %}
{% block title %}Play Journal{% endblock %}

{% block content %}

    <h2>Journal for: {{game_journal.game_title}}</h2>
    {% if game_journal.notes %}
    {% for n in game_journal.notes %}
    <p>- {{n.note}}</p>
    {% endfor %}
    {% else %}
    <p>No notes on this game yet!</p>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
  
        <button class="btn btn-primary">Add a Note</button>
    </form>
{% endblock %}