{% extends 'base.html' %}
{% block title %}Play Journal{% endblock %}

{% block content %}

    <h2>Journal for: {{game_journal.game_title}}</h2>
    <p> 
    {% if game_journal.game_guide %}
    <iframe id="ytplayer" type="text/html" width="640" height="360" src="{{game_journal.game_guide}}"></iframe><br>
    <a href="/playing/find-a-game-guide/{{game_journal.id}}" class="text-secondary">Change Guide</a>
    {% else %}
      <a href="/playing/find-a-game-guide/{{game_journal.id}}" class="btn btn-info">Find a YouTube Game Guide to Use</a>
    {% endif %}
  </p>

    {% if game_journal.notes %}
    {% for n in game_journal.notes %}
    <p>
        <form>
            - {{n.note}}
        <button formaction="/playing/{{n.playing_id}}/{{n.id}}/edit" class="badge badge-secondary" formmethod="GET">Edit Note</button>
        <button formaction="/playing/{{n.playing_id}}/{{n.id}}/delete" class="badge badge-danger" formmethod="POST">Delete Note</button>
        </form> 
    </p>
    {% endfor %}
    {% else %}
    <p>No notes on this game yet!</p>
    {% endif %}
   
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label }}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
  
        <button class="btn btn-primary">Add a Note</button>
    </form>
{% endblock %}